* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: #121212   ;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 20px;
}

h1 {
    font-size: 4rem;
    color: gold;
    margin-bottom: 20px;
}

.container {
    background-color: #333;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.display {
    width: 100%;
    height: 60px;
    font-size: 2rem;
    padding: 10px 20px;
    text-align: right;
    background-color: #222;
    color: white;
    border: none;
    border-radius: 10px;
    margin-bottom: 20px;
}

.calculator {
    display: grid;
    grid-template-columns: repeat(4, 80px);
    grid-gap: 15px;
    justify-content: center;
}
.button {
    width: 80px;
    height: 80px;
    font-size: 1.8rem;
    border: none;
    border-radius: 50%;
    background-color: #444;
    color: white;
    cursor: pointer;
    transition: background-color 0.2s, transform 0.1s;
}

.button:hover {
    background-color: #666;
    transform: scale(1.05);
}

.button.operator {
    background-color: #ff9500;
}

.button.equalbtn {
    background-color: #34c759;
}

.button.operator:hover {
    background-color: #e08900;
}

.button.equalbtn:hover {
    background-color: #28a745;
}

input::placeholder {
    color: #bbb;
}
body img {
    width: 250px;
    margin-top: 30px;
    border-radius: 12px;
    object-fit: cover;
}
.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
}
.panda {
    width: 250px;
    height: auto;
    border-radius: 12px;
    object-fit: cover;
}

